{% extends 'mp-admin/_admin-layout.twig' %}
{% block title %}
	<section class="text-center">
    <div class="title">
      <h1 class="jumbotron-heading">{{ page }}</h1>
      <p class="lead ">{{ slogon }}</p>
      
    </div>
  </section>
{% endblock %}

{% block content %}
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
          <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                <h3 class="box-title">Low Stock Items</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
           
                <div class="box-body">
                 {% if stock|length > 0 %}
                    <table id="stock-items" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>Item Name</th>
                          <th>Quantity</th>
                          <th>Reorder Level</th>
                          <th>Notice Level</th>
                          <th>Units</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in stock %}
                        <tr id="item-{{item.id}}">
                        <td class="mp-item">{{item.ingredient_name}}</td>
                        <td class="mp-item">{{item.quantity}}</td>
                        <td class="mp-item">{{item.reorder_level}}</td>
                        <td class="mp-item">{{item.notice_level}}</td>
                        <td class="mp-item">{{item.units}}</td>
                        <td>
                        <button type="button" id="type-{{item.id}}" class="btn  btn-small btn-primary edit" onclick="updateStock( {{item.id}})"><i id="btn-{{item.id}}"  class="fa fa-edit"></i></button>
                        <!--button type="button" class="btn  btn-small btn-danger" onclick="deleteStock(`{{item.ingredient_name}}`, {{item.id}})"><i class="fa fa-trash"></i></button-->
                        
                        </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
          
          <!-- /.box -->
          {% else %}
          <div class="callout callout-primary alert alert-info">
                <h4>  Out Of Stock Items</h4>

                <h5>All Stock is up to required level level</h5>
            </div>
          {% endif %}  
                </div>
                <!-- /.box-body -->


                <div class="box-footer">
                    <h4>MP Stock</h4>
                </div>
           
            </div>
        </div>
          <!-- /.box -->
        <div class="col-md-4">
          <div class="box box-danger">
            <div class="box-header with-border">
              <h3 class="box-title">Information Messages</h3>
            </div>
            <div class="box-body">
              <div class="row">
               
              </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</section>
{% endblock  %}