 {% extends 'mp-admin/_admin-layout.twig' %}
{% block title %}
	<section class="text-center">
    <div class="title">
      <h1 class="jumbotron-heading">{{ page }}</h1>
      <p class="lead ">{{ slogon }}</p>
      
    </div>
  </section>
{% endblock %}
{% block content %}
 <div class="row">
        <!-- Left col -->
  <section class="col-lg-6">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Create New Recipe</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" enctype="multipart/form-data" id="rcpForm">
              <div class="box-body">
                    <fieldset class=" col-md-12 scheduler-border">
                    <legend class="scheduler-border"> Recipe Name  and Short Description</legend>
                  <div class="col-md-10 Amberform-group">
                    <label for="rcpname">Recpie Name</label>
                    <input type="text" class="form-control" id="rcpname"  name="rcpname" placeholder="Enter name"  required >
                      <br>

                  </div>
                  <div class="col-md-10 form-group">
                      <label>Short Description</label>
                      <textarea id="sd" name="sd" class="form-control" placeholder="Short description ..." rows="3" required></textarea>
                  </div>
                  </fieldset>
                  <fieldset class=" col-md-12 scheduler-border">
                    <legend class="scheduler-border">Recipe Type and Category</legend>
                    <div class="col-md-6 form-group">
                        <label for="ingredients">Meal Type</label>
                        <select class="form-control" id="mealtype" name="mealtype" required>
                            <option value="0">Select Meal Type</option>
                                {% for item in mealType %}
                                <option value="{{ item.id }}">{{ item.meal_type }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="ingredients">Meal Course Type</label>
                        <select required class="form-control" id="mealcat" name="mealcat" >
                            <option value="0">Select Course Type</option>
                            {% for item in mealCategory %}
                                <option value="{{ item.id }}">{{ item.meal_category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    </fieldset>
<!--
                    <fieldset class=" col-md-12 scheduler-border">
                    <legend class="scheduler-border">Recipe Ingredients and Quantity</legend>
                
                  <div class="col-md-6 form-group">
                    <label for="ingredients">Ingredient</label>
                    <select class="form-control" id="item1"  name="item1"required>
                    <option value="0">Select ingredient</option>
                    {% for item in ingredients %}
                        <option value="{{ item.id }}">{{ item.ingredient_name }}</option>
                    {% endfor %}
                    </select>
                  </div>
                    <div class="col-md-4 form-group">
                    <label for="ingredients">Quantity</label>
                    <input type="number" class="form-control"  id="qty_1" size="16"  name="qty_1" required />
                    <span class="small pull-right">g/ml</span></label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="ingredients">Ingredient</label>
                    <select class="form-control" name="item2" id="item2" required>
                    <option value="0">Select ingredient</option>
                      {% for item in ingredients %}
                        <option value="{{ item.id }}">{{ item.ingredient_name }}</option>
                    {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-4 form-group">
                    <label for="ingredients">Quantity</label>
                    <input type="number" class="form-control" id="qty_2" size="16"  name="qty_2" required />
                    <span class="small pull-right">g/ml</span></label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="ingredients">Ingredient</label>
                    <select class="form-control" id="item3" name="item3" required>
                    <option value="0">Select ingredient</option>
                      {% for item in ingredients %}
                        <option value="{{ item.id }}">{{ item.ingredient_name }}</option>
                    {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-4 form-group">
                    <label for="ingredients">Quantity</label>
                    <input type="number" class="form-control" id="qty_3" size="16"  name="qty_3" required />
                    <span class="small pull-right">g/ml</span></label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="ingredients">Ingredient</label>
                    <select class="form-control" id="item4" name="item4" required>
                    <option value="0">Select ingredient</option>
                    {% for item in ingredients %}
                        <option value="{{ item.id }}">{{ item.ingredient_name }}</option>
                    {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-4 form-group">
                    <label for="ingredients">Quantity</label>
                    <input type="number" class="form-control" id="qty_4" size="16" name="qty_4"  required />
                    <span class="small pull-right">g/ml</span></label>
                  </div>
                  </fieldset>
-->
                  <fieldset class=" col-md-12 scheduler-border">
                    <legend class="scheduler-border">Recipe Image Upload</legend>
                  <div class="col-md-12 form-group">
                    <label>Select image to upload</label>
                    <input id="fileToUpload" class="form-control" type="file" name="file" required >
                  </div>
                  </fieldset>
              </div>
                <!-- /.box-body -->
                <div class="box-footer">
                   <h4>Recipe Creation area </h4>
                </div>
         
          </div>
          <!-- /.box -->
        </div>
      </section>
        <!-- right col -->
        <section class="col-lg-6">
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Recipe Ingredients</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
            <fieldset class=" col-md-12 scheduler-border">
                    <legend class="scheduler-border">Recipe Ingredients and Quantity</legend>
                
                  <div class="col-md-6 form-group">
                    <label for="ingredients">Ingredient</label>
                    <select class="form-control" id="item1"  name="item1"required>
                    <option value="0">Select ingredient</option>
                    {% for item in ingredients %}
                        <option value="{{ item.id }}">{{ item.ingredient_name }}</option>
                    {% endfor %}
                    </select>
                  </div>
                    <div class="col-md-6 form-group">
                    <label for="ingredients">Quantity</label>
                    <input type="number" class="form-control"  id="qty_1" size="16"  name="qty_1" required />
                    <span class="small pull-right">g/ml</span></label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="ingredients">Ingredient</label>
                    <select class="form-control" name="item2" id="item2" required>
                    <option value="0">Select ingredient</option>
                      {% for item in ingredients %}
                        <option value="{{ item.id }}">{{ item.ingredient_name }}</option>
                    {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-6 form-group">
                    <label for="ingredients">Quantity</label>
                    <input type="number" class="form-control" id="qty_2" size="16"  name="qty_2" required />
                    <span class="small pull-right">g/ml</span></label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="ingredients">Ingredient</label>
                    <select class="form-control" id="item3" name="item3" required>
                    <option value="0">Select ingredient</option>
                      {% for item in ingredients %}
                        <option value="{{ item.id }}">{{ item.ingredient_name }}</option>
                    {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-6 form-group">
                    <label for="ingredients">Quantity</label>
                    <input type="number" class="form-control" id="qty_3" size="16"  name="qty_3" required />
                    <span class="small pull-right">g/ml</span></label>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="ingredients">Ingredient</label>
                    <select class="form-control" id="item4" name="item4" required>
                    <option value="0">Select ingredient</option>
                    {% for item in ingredients %}
                        <option value="{{ item.id }}">{{ item.ingredient_name }}</option>
                    {% endfor %}
                    </select>
                    </div>
                    <div class="col-md-6 form-group">
                    <label for="ingredients">Quantity</label>
                    <input type="number" class="form-control" id="qty_4" size="16" name="qty_4"  required />
                    <span class="small pull-right">g/ml</span></label>
                  </div>
                  </fieldset>
                  <!--
                  <fieldset class=" col-md-12 scheduler-border">
                    <legend class="scheduler-border">Recipe Image Upload</legend>
                  <div class="col-md-10 form-group">
                    <label>Select image to upload</label>
                    <input id="fileToUpload" class="form-control" type="file" name="file" required >
                  </div>
                  </fieldset>
                  -->
                   <!-- /.box-body -->
                   </div>
                <div class="box-footer">
                 <button type="submit" id="create_recipe" class="btn btn-primary ">Submit</button>
                </div>
            </form>
          </div>
          <!-- /.box -->

       
     
        
        
        </section>
        
</div>
              <!-- /.row -->
{% endblock %}
 

