
<div class="row">
      <section class="col-lg-12 ">
<!-- Main content -->

      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3> {{nextweek|number_format(0,',')}}</h3>

              <h4>NEXT WEEK'S ORDERS</h4>
            </div>
            <div class="icon">
              <i class="ion ion-plus"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3> {{today|number_format(0,',')}}<!--sup style="font-size: 20px">%</sup --></h3>

              <p>TODAY'S ORDERS</p>
            </div>
            <div class="icon">
              <i class="ion ion-clock"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{lowstock|number_format(0,',')}}</h3>

              <p>LOW STOCK ITEMS</p>
            </div>
            <div class="icon">
              <i class="ion ion-code-download"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{outofstock|number_format(0,',')}}</h3>

              <h4>OUT OF STOCK</h4>
            </div>
            <div class="icon">
              <i class="ion ion-code"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
        <!-- ./col -->
       <div class="panel panel-primary"></div>
        </section>
        

        <!--
<div class="row">
        <!-- Left col --
        <section class="col-lg-12 ">

        <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="info-box">
                                <span class="info-box-icon bg-aqua">
                                <i class="fa fa-level-up"></i>
                        </span>
                        <div class="info-box-content">
                                <span class="info-box-text">Next Week's Orders</span>
                                <span class="info-box-number stock default-stock">{{nextweek|number_format(0,',')}}</span>
                                <a class="btn btn-link pull-right" href="all_orders.php" type="button">
                                View Detail
                                </a>
                 </div>
            <!-- /.info-box-content --
          </div>
          <!-- /.info-box --
        </div>
        <!-- /.col --
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
<span class="info-box-icon bg-green">
    <i class="fa fa-calendar-check-o"></i>
</span>

            <div class="info-box-content">
              <span class="info-box-text">Today's Orders</span>
              <span class="info-box-number stock default-stock">{{today|number_format(0,',')}}</span>
<a class="btn btn-link pull-right" href="new_orders.php" type="button">
    View Detail
</a>
            </div>
            <!-- /.info-box-content --
          </div>
          <!-- /.info-box --
        </div>
        <!-- /.col --
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
<span class="info-box-icon bg-yellow">
    <i class="fa fa-long-arrow-down"></i>
</span>

            <div class="info-box-content">
              <span class="info-box-text">Low Stock Items</span>
<span class="info-box-number stock warning-stock">{{lowstock|number_format(0,',')}}</span>
<a class="btn btn-link pull-right" href="low_stock.php" type="button">
    View Detail
</a>
            </div>
            <!-- /.info-box-content --
          </div>
          <!-- /.info-box --
        </div>
        <!-- /.col --
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
<span class="info-box-icon bg-red">
    <i class="fa fa-calendar-times-o"></i>
</span>

            <div class="info-box-content">
              <span class="info-box-text">Out Of Stock</span>
              <span class="info-box-number stock danger-stock">{{outofstock|number_format(0,',')}}</span>
              <a type="button" class="btn btn-link pull-right" href="outof_stock.php"> View Detail </a>
            </div>
            <!-- /.info-box-content --
          </div>
          <!-- /.info-box --
        </div>
        <!-- /.col --
      </div>
      <!-- /.row --




        </section>
        <!-- /.Left col --
        <!-- right col (We are only adding the ID to make the widgets sortable)--
        <section class="col-lg-5 ">
        </section>
        <!-- right col --
</div>

        -->

</div>


