 <div class="row">
         <!-- left column -->
            <div class="col-md-8">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h2 class="box-title">{{product[0].course_name}}</h2>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class=" media-left media-middle">
                                    <img  class="media-object " src="{{ path~product[0].course_image }}"> 
                                </div>
                            </div> <!-- /.col-md-4 inner-->
                            <div class="col-md-8 img-top img-bottom">
                                <div class="attachment-pushed">
                                    <div class="col-md-12">
                                        <h3 class="attachment-heading">Recipe Details</h3>
                                        <div class="attachment-text">
                                            {% autoescape %}{{ product[0].course_description |raw}}{% endautoescape %}
                                        </div><br>
                                    </div>
                                    <div class="col-md-12">
                                        <h3 class="attachment-heading">Recipe Notes</h3>
                                        <div class="attachment-text">
                                            {% autoescape %}{{ product[0].course_notes |raw}}{% endautoescape %}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <h3 class="attachment-heading">Recipe Instructions</h3>
                                        <div class="attachment-text">
                                            {% autoescape %}{{ product[0].course_instructions |raw}}{% endautoescape %}
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.col-md-8 inner-->
                        </div> <!-- /.row -->
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col-md-6 outer -->
            <!-- right column -->
            <div class="col-md-4">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Information</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class=" media-left media-middle">
                                    <!--img  class="media-object " src="{{ path~product[0].course_image }}"--> 
                                </div>
                            </div> <!-- /.col-md-4 inner-->
                            <div class="col-md-8 img-top img-bottom">
                                <div class="attachment-pushed">
                                   <h4 class="attachment-heading">Information about product</h4>
                                <div class="attachment-text">
                                    <p> Can provide Nututrion information here in future </p>
                                </div> 
                                </div>
                            </div><!-- /.col-md-8 inner-->
                        </div> <!-- /.row -->
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col-md-6 outer --> 
       
    </div>