{% extends '_layout.twig' %}
{% block title %}
	<section class="text-center">
    <div class="title">
      <h1 class="jumbotron-heading">{{ page }}</h1>
      <p class="lead ">{{ slogon }}</p>
    </div>
  </section>
{% endblock %}
{% block content %}

<div class="hold-transition register-page0">
<div class="register-box">
<div class=" mb-4">
                    {% if type %}
                        {% autoescape %}
                    <div class="alert alert-{{ type }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <h3 class="alert-heading">{{ title }}</h3>
                        <hr>
                        <p>{{ message |raw  }}</p>
                    </div>
                    {% endautoescape %}
                    {% endif  %}
        </div>
  <div class="register-box-body">
    <p class="login-box-msg">New membership</p>
    <form action="/pages/register.php" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="inputUsername" name ='fullname' placeholder="Full name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="inputUsername" name ='username' placeholder="Username">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="email" class="form-control" name ='email' placeholder="Email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name ='password' placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" name ='cpassword' placeholder="Retype password">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="row">
        
        <!-- /.col -->
        <div class="col-xs-12">
        <input  name="action" value="REGISTER"  hidden type="text">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
          
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
    </div>

    <a href="/pages/login.php" class="text-center">I already have a membership</a>
  </div>
  <!-- /.form-box -->
</div>
<!-- /.register-box -->
</div>
<!--
<div class="hold-transition register-page">
    
        
        <div class="register-box-body">
    <p class="login-box-msg">Register a new membership</p>
            <div class="card-body text-success">
                <form class="form-signin" action="/pages/register.php" method="post">
                    <div class="text-center mb-4">
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputUsername" name ='username' class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">username</label>
                    </div>
                    <div class="form-label-group">
                        <input type="text" id="inputFullname" name ='fullname'class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Full name</label>
                    </div>
                    <div class="form-label-group">
                        <input type="email" id="inputEmail" name ='email' class="form-control" placeholder="Email address" required autofocus>
                        <label for="inputEmail">Email address</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputPassword" name ='password' class="form-control" placeholder="Password" required autofocus>
                        <label for="inputPassword">Password</label>
                    </div>
                    <div class="form-label-group">
                        <input type="password" id="inputRPassword" name ='repeatpassword' class="form-control" placeholder="Password" required autofocus>
                        <label for="inputPassword">Confirm Password</label>
                    </div>
                    <input autofocus class="form-control" id="inputEmail" name="action" value="REGISTER"  hidden type="text">
                    <button class="btn btn-lg btn-outline-warning btn-block" type="submit">Submit</button>
                </form>
            </div>
            <div class="card-footer bg-transparent border-black">
            Already have an account?
            <a class="btn btn-sm btn-outline-warning float-right" type="button" href="/pages/login.php">Login</a>
            </div>
        </div>
  
    <br>
    <br>
</div>
-->
{% endblock %}