

{% extends '_layout.twig' %}
{% block slider %}
    <div class="container page-font" style="padding-right: 0px; padding-left: 0px">{% include '_slider.twig' %}</div>
{% endblock %}

{% block title %}
	<section class="text-center">
    <div class="title">
      <h1 class="jumbotron-heading">{{ page }}</h1>
      <p class="lead ">{{ slogon }}</p>
      
    </div>
  </section>
{% endblock %}
{% block content %}

        {% for item in products %}
        <div class=" marketing page-font">
                <div class="row featurette m-top">
                {% if item.id is odd %}
                  <div class="col-md-7 order-md-2">
                    <div class="col-md-12 txt-top"><h3 class="products">{{ item.title }}</h3></div>
                    <div class="col-md-12"><p class="products">{% autoescape %}{{ item.content |raw}}{% endautoescape %}</p></div>
                 </div>
                    <div class="col-md-5 order-md-1">
                        <div class="col-md-12 img-top img-bottom">
                            <img  src="{{ path~item.image }}"> 
                        </div>
                    </div>
                  {% endif %}
                 {% if item.id is even %}
                 <div class="col-md-7">
                    <div class="col-md-12 txt-top"><h3 class="products">{{ item.title }}</h3></div>
                    <div class="col-md-12"><p class="products">{% autoescape %}{{ item.content |raw}}{% endautoescape %}</p></div>
                 </div>
                    <div class="col-md-5">
                        <div class="col-md-12 img-top img-bottom">
                            <img  src="{{ path~item.image }}"> 
                        </div>
                    </div>
                  {% endif %}
                </div><!-- /.container -->
                <div class="row featurette">
                {% if item.id is odd %}
                    <div class="col-md-12 order-md-1">
                        <div class="btn-group col-md-7 order-md-2">
                            <a type="button" class="btn btn-sm btn-info" href="?ID={{ item.id}}">Details</a>
                            <a type="button" class="btn btn-sm btn-info" href="?ID={{ item.id}}">Recepie</a>
                            <a type="button" class="btn btn-sm btn-info" href="?ID={{ item.id}}">Nutrition</a>
                            <a type="button" class="btn btn-sm btn-info" href="?ID={{ item.id}}">Order</a>
                        </div>
                    </div> 
                  {% endif %}
                {% if item.id is even %}
                    <div class="col-md-12">
                        <div class="btn-group col-md-7">
                            <a type="button" class="btn btn-sm btn-info" href="?ID={{ item.id}}">Details</a>
                            <a type="button" class="btn btn-sm btn-info" href="?ID={{ item.id}}">Recepie</a>
                            <a type="button" class="btn btn-sm btn-info" href="?ID={{ item.id}}">Nutrition</a>
                            <a type="button" class="btn btn-sm btn-info" href="?ID={{ item.id}}">Order</a>
                        </div>
                    </div> 
                  {% endif %}
                 </div>
                 <!--hr class="featurette-divider"-->
				  <br>
                 
    	</div>
		<br>
        {% endfor %}
         
{% endblock %}